In [21]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('data/data_table/data_sheet1.csv')
df = df.rename(columns={'Unnamed: 0': 'ranking'})
df = df[df.columns[:25]]

In [40]:
df.columns

Index(['ranking', 'each_original_data', 'ion1', 'loss1', 'loss_sign1',
       'charge1', 'mass1', 'ion2', 'loss2', 'loss_sign2', 'charge2', 'mass2',
       'addition_mass1', 'addition_mass2', 'ion_mass1', 'ion_mass2',
       'correct_mass1', 'correct_mass2', 'mass_difference1',
       'mass_difference2', 'm1+m2', '2m1+m2', 'm1+2m2', 'chosen_sum_from',
       'chosen_sum'],
      dtype='object')

In [94]:
def create_mass_conserve_line(row):
    ion1,ion2 = row['ion1'], row['ion2']
    loss1,loss2 = row['loss1'], row['loss2']
    if pd.isna(loss1):
        loss1 = ''
    if pd.isna(loss2):
        loss2 = ''
        
        
    #print((type(ion1) == str) and (ion1[0] == 'a' and ion1[:2] != 'ai'))
    #print((type(ion2) == str) and (ion2[0] == 'a' and ion2[:2] != 'ai')and (loss1 == '' and loss2 == ''))
    if (type(ion1) == str) and (ion1[0] == 'a' and ion1[:2] != 'ai') and (loss1 == '' and loss2 == ''):
        combined_loss = 'a'
    elif (type(ion2) == str) and (ion2[0] == 'a' and ion2[:2] != 'ai') and (loss1 == '' and loss2 == ''):
        combined_loss = 'a'
        
    elif loss1 != '' and loss2 != '':
        combined_loss = loss1 + ' + ' +loss2

    else:
        combined_loss = loss1 + loss2
    if combined_loss == '':
        combined_loss = 'Parent'
    return combined_loss

In [95]:
set(df.apply(create_mass_conserve_line, axis=1))

{'2(H2O)-NH3',
 '2(NH3)',
 'CH3-NH2',
 'CH3-NH2-NH3 + NH3',
 'CH3NH2',
 'CH3NH2 + NH3',
 'CH3NH2 + NH3-H2O',
 'CH3NH2-NH3',
 'CH3NH2-NH3 + H2O',
 'CH3NH2-NH3 + NH3-H2O',
 'H2O + H2O',
 'H2O + NH3',
 'H2O-NH3',
 'HN=C=N-CH3',
 'HN=C=N-CH3 + H2O-NH3',
 'HN=C=N-CH3-H2O',
 'HN=C=NH-2(H2O)',
 'HN=C=NH-H2O + HCONH2',
 'HN=C=NH-NH3',
 'NH3',
 'NH3 + NH3',
 'NH3 + NH3-H2O',
 'NH3-2(H2O)',
 'NH3-H2O',
 'Parent',
 'a'}

In [64]:
df

,ranking,each_original_data,ion1,loss1,loss_sign1,charge1,mass1,ion2,loss2,loss_sign2,...,ion_mass2,correct_mass1,correct_mass2,mass_difference1,mass_difference2,m1+m2,2m1+m2,m1+2m2,chosen_sum_from,chosen_sum
0,1,y7 (1+) @ 637.39 & b7 (1+) @ 690.36,y7,NaN,NaN,1+,637.39,b7,NaN,NaN,...,689.32451,637.305200,690.331760,0.084800,0.028240,1327.75,1965.14,2018.11,m1+m2,1327.75
1,2,y6 (1+) @ 580.39 & b8 (1+) @ 747.43,y6,NaN,NaN,1+,580.39,b8,NaN,NaN,...,746.34597,580.283740,747.353220,0.106260,0.076780,1327.82,1908.21,2075.25,m1+m2,1327.82
2,3,y5 (1+) @ 523.26 & b9 (1+) @ 804.37,y5,NaN,NaN,1+,523.26,b9,NaN,NaN,...,803.36743,523.262280,804.374680,-0.002280,-0.004680,1327.63,1850.89,2132.00,m1+m2,1327.63
3,4,y6 (1+) @ 580.37 & [b8-NH3] (1+) @ 730.35,y6,NaN,NaN,1+,580.37,b8,NH3,-,...,746.34597,580.283740,730.326671,0.086260,0.023329,1310.72,1891.09,2041.07,m1+m2,1310.72
4,5,[y4-NH3] (1+) @ 359.11 & b10 (1+) @ 951.13,y4,NH3,-,1+,359.11,b10,NaN,NaN,...,950.43584,359.167321,951.443090,-0.057321,-0.313090,1310.24,1669.35,2261.37,m1+m2,1310.24
5,6,[b8-CH3NH2-NH3] (1+) @ 699.38 & y6 (1+) @ 580.59,b8,CH3NH2-NH3,-,1+,699.38,y6,NaN,NaN,...,579.27649,699.284472,580.283740,0.095528,0.306260,1279.97,1979.35,1860.56,m1+m2,1279.97
6,7,[y5-NH3] (1+) @ 506.09 & b9 (1+) @ 804.5,y5,NH3,-,1+,506.09,b9,NaN,NaN,...,803.36743,506.235731,804.374680,-0.145731,0.125320,1310.59,1816.68,2115.09,m1+m2,1310.59
7,8,y6(1+) @ 580.43 & [b7-NH3] (1+) @ 673.04,y6,NaN,NaN,1+,580.43,b7,NH3,-,...,689.32451,580.283740,673.305211,0.146260,-0.265211,1253.47,1833.90,1926.51,m1+m2,1253.47
8,9,[y6-NH3] (1+) @ 562.87 & b8 (1+) @ 747.77,y6,NH3,-,1+,562.87,b8,NaN,NaN,...,746.34597,563.257191,747.353220,-0.387191,0.416780,1310.64,1873.51,2058.41,m1+m2,1310.64
9,10,[y10-CH3NH2] (1+) @ 921.04 & a4 (1+) @,y10,CH3NH2,-,1+,921.04,NaN,NaN,NaN,...,NaN,920.433251,NaN,0.606749,NaN,NaN,NaN,NaN,m1+2m2,NaN
10,11,b10 (1+) @ 951.13 & [y4-2(H2O)-NH3] (1+) @ 323.13,b10,NaN,NaN,1+,951.13,y4,2(H2O)-NH3,-,...,375.18662,951.443090,323.146192,-0.313090,-0.016192,1274.26,2225.39,1597.39,m1+m2,1274.26
11,12,[y9-NH3] (1+) @ 847.45 & [b5-NH3] (1+) @ 446.02,y9,NH3,-,1+,847.45,b5,NH3,-,...,462.18629,847.416871,446.166991,0.033129,-0.146991,1293.47,2140.92,1739.49,m1+m2,1293.47
12,13,[y9-CH3NH2] (1+) @ 833.18 & [b5-NH3-H2O] (1+) ...,y9,CH3NH2,-,1+,833.18,b5,NH3-H2O,-,...,462.18629,833.401221,428.156426,-0.221221,-0.386426,1260.95,2094.13,1688.72,m1+m2,1260.95
13,14,[b8+H2O] (1+) @ 765.76 & [y6-H2O] (1+) @ 562.31,b8,H2O,+,1+,765.76,y6,H2O,-,...,579.27649,765.363785,562.273175,0.396215,0.036825,1328.07,2093.83,1890.38,m1+m2,1328.07
14,15,[y3-NH3] (1+) @ 301.75 & b11(1+) @ 1009.17,y3,NH3,-,1+,301.75,b11,NaN,NaN,...,1007.45730,302.145861,1008.464550,-0.395861,0.705450,1310.92,1612.67,2320.09,m1+m2,1310.92
15,16,b9 (1+) @ 804.33 & [y5-2(NH3)](1+) @ 490.22,b9,NaN,NaN,1+,804.33,y5,2(NH3),-,...,522.25503,804.374680,489.209182,-0.044680,1.010818,1294.55,2098.88,1784.77,m1+m2,1294.55
16,17,[y10 - HN=C=N-CH3] (1+) @ 895.4 & a4 (1+) @ 34...,y10,HN=C=N-CH3,-,1+,895.40,a4,NaN,NaN,...,347.14366,895.438002,348.150910,-0.038002,-0.340910,1243.21,2138.61,1591.02,m1+m2,1243.21
17,18,y6(1+) @ 580.57 & a8(1+) @ 719.46,y6,NaN,NaN,1+,580.57,a8,NaN,NaN,...,718.33537,580.283740,719.342620,0.286260,0.117380,1300.03,1880.60,2019.49,m1+m2,1300.03
18,19,[y9-NH3] (1+) @ 847.25 & [b5-NH3-H2O] (1+) @ 4...,y9,NH3,-,1+,847.25,b5,NH3-H2O,-,...,462.18629,847.416871,428.156426,-0.166871,0.113574,1275.52,2122.77,1703.79,m1+m2,1275.52
19,20,[y9- CH3NH2] (1+) @ 833.18 & [a5-NH3-H2O] (1+)...,y9,CH3NH2,-,1+,833.18,a5,NH3-H2O,-,...,434.17569,833.401221,400.145826,-0.221221,0.034174,1233.36,2066.54,1633.54,m1+m2,1233.36
20,21,[y3-NH3] (1+) @ 301.89 & [b11-NH3] (1+) @ 992.02,y3,NH3,-,1+,301.89,b11,NH3,-,...,1007.45730,302.145861,991.438001,-0.255861,0.581999,1293.91,1595.80,2285.93,m1+m2,1293.91
21,22,a9 (1+) @ 776.68 & ??? @ 485.61,a9,NaN,NaN,1+,776.68,???,NaN,NaN,...,NaN,776.364080,NaN,0.315920,NaN,1262.29,2038.97,1747.90,m1+m2,1262.29
22,23,[y10-NH3] (1+) @ 934.85 & b3(1+) @ 228.71,y10,NH3,-,1+,934.85,b3,NaN,NaN,...,228.08585,934.448901,229.093100,0.401099,-0.383100,1163.56,2098.41,1392.27,m1+2m2,1392.27
23,24,??? @ 682.12 & y6 (1+) @ 580.14,???,NaN,NaN,NaN,682.12,y6,NaN,NaN,...,579.27649,NaN,580.283740,NaN,-0.143740,1262.26,1944.38,1842.40,m1+m2,1262.26
24,25,[y9- CH3NH2 – NH3] (1+) @ 816.84 & [b5-NH3-H2O...,y9,CH3NH2-NH3,-,1+,816.84,b5,NH3-H2O,-,...,462.18629,816.374672,428.156426,0.465328,-0.056426,1244.94,2061.78,1673.04,m1+m2,1244.94
25,26,[y9- CH3NH2] (1+) @ 833.6 & [b5-NH3] (1+) @ 44...,y9,CH3NH2,-,1+,833.60,b5,NH3,-,...,462.18629,833.401221,446.166991,0.198779,-0.056991,1279.71,2113.31,1725.82,m1+m2,1279.71
26,27,b11 (1+) @ 1008.62 & [y3 - HN=C=NH - 2(H2O)] (...,b11,NaN,NaN,1+,1008.62,y3,HN=C=NH-2(H2O),-,...,318.16516,1008.464550,241.129483,0.155450,-0.339483,1249.41,2258.03,1490.20,m1+m2,1249.41
27,28,[y9-NH3] (1+) @ 847.79 & [a5-NH3] (1+) @ 418.1,y9,NH3,-,1+,847.79,a5,NH3,-,...,434.17569,847.416871,418.156391,0.373129,-0.056391,1265.89,2113.68,1683.99,m1+m2,1265.89
28,29,[y10-NH3] (1+) @ 934.52 & [a4-NH3] (1+) @ 330.69,y10,NH3,-,1+,934.52,a4,NH3,-,...,347.14366,934.448901,331.124361,0.071099,-0.434361,1265.21,2199.73,1595.90,m1+m2,1265.21
29,30,y7(1+) @ 637.6 & [b6-NH3] (1+) @ 503.15,y7,NaN,NaN,1+,637.60,b6,NH3,-,...,519.20775,637.305200,503.188451,0.294800,-0.038451,1140.75,1778.35,1643.90,m1+m2,1140.75
30,31,[y10- HN=C=NH - NH3] (1+) @ 891.57 & b3 (1+) @...,y10,HN=C=NH-NH3,-,1+,891.57,b3,NaN,NaN,...,228.08585,892.427103,229.093100,-0.857103,-0.433100,1120.23,2011.80,1348.89,m1+2m2,1348.89
31,32,y10/b10 (1+) @ 51.14 & [b4/y4 -NH3-H2O] (1+) @...,y10/b10,NaN,NaN,1+,51.14,b4/y4,NH3-H2O,-,...,375.15426,951.475450,341.124396,-900.335450,0.085604,392.35,443.49,733.56,m1+2m2,733.56
32,33,[b8- CH3NH2 - NH3] (1+) @ 699.4 & [y6 - H2O] (...,b8,CH3NH2-NH3,-,1+,699.40,y6,H2O,-,...,579.27649,699.284472,562.273175,0.115528,0.076825,1261.75,1961.15,1824.10,m1+m2,1261.75
33,34,b12 (1+) @ 1065.78 & [y2-H2O-NH3] (1+) @ 226.8,b12,NaN,NaN,1+,1065.78,y2,H2O-NH3,-,...,261.14370,1065.486010,227.113836,0.293990,-0.313836,1292.58,2358.36,1519.38,m1+m2,1292.58
34,35,[b9- CH3NH2 - NH3] (1+) @ 755.7 & y5 (1+) @ 52...,b9,CH3NH2-NH3,-,1+,755.70,y5,NaN,NaN,...,522.25503,756.305932,523.262280,-0.605932,-0.112280,1278.85,2034.55,1802.00,m1+m2,1278.85
35,36,b7 (1+) @ 691.33 & [y7-NH3] (1+) @ 620.15,b7,NaN,NaN,1+,691.33,y7,NH3,-,...,636.29795,690.331760,620.278651,0.998240,-0.128651,1311.48,2002.81,1931.63,m1+m2,1311.48
36,37,b10 (1+) @ 952.06 & [y4 - HN=C=NH -2(H2O)] (1+...,b10,NaN,NaN,1+,952.06,y4,HN=C=NH-2(H2O),-,...,375.18662,951.443090,298.150943,0.616910,-0.690943,1249.52,2201.58,1546.98,m1+m2,1249.52
37,38,[b9 - CH3-NH2] (1+) @ 773.13 & y5 (1+) @ 523.25,b9,CH3-NH2,-,1+,773.13,y5,NaN,NaN,...,522.25503,773.332481,523.262280,-0.202481,-0.012280,1296.38,2069.51,1819.63,m1+m2,1296.38
38,39,a10 (1+) @ 924.2 & [y4 – NH3- 2(H2O)] (1+) @ 3...,a10,NaN,NaN,1+,924.20,y4,NH3-2(H2O),-,...,375.18662,923.432490,323.146192,0.767510,0.183808,1247.53,2171.73,1570.86,m1+m2,1247.53
39,40,??? @ 921.76 & y4 (1+) @ 376.36,???,NaN,NaN,NaN,921.76,y4,NaN,NaN,...,375.18662,NaN,376.193870,NaN,0.166130,1298.12,2219.88,1674.48,m1+m2,1298.12
40,41,[y10 – HN=C=NH – H2O] (1+) @ 891.45 & [b4-HCON...,y10,HN=C=NH-H2O,-,1+,891.45,b4,HCONH2,-,...,375.15426,891.443087,331.140046,0.006913,-0.350046,1222.24,2113.69,1553.03,m1+m2,1222.24
41,42,[b9 + H2O] (1+) @ 822.35 & [y5-H2O] @ 505.13,b9,H2O,+,1+,822.35,y5,H2O,-,...,522.25503,822.385245,505.251715,-0.035245,-0.121715,1327.48,2149.83,1832.61,m1+m2,1327.48
42,43,[y9 - CH3-NH2] (1+) @ 833.1 & b5 (1+) @ 463.4,y9,CH3-NH2,-,1+,833.10,b5,NaN,NaN,...,462.18629,833.401221,463.193540,-0.301221,0.206460,1296.50,2129.60,1759.90,m1+m2,1296.50
43,44,[y3-NH3] (1+) @ 302.06 & [a11-NH3](1+) @ 963.02,y3,NH3,-,1+,302.06,a11,NH3,-,...,979.44670,302.145861,963.427401,-0.085861,-0.407401,1265.08,1567.14,2228.10,m1+m2,1265.08
44,45,[y10 - HN=C=N-CH3– H2O] @ 877.52 & a4 (1+) @ 3...,y10,HN=C=N-CH3-H2O,-,NaN,877.52,a4,NaN,NaN,...,347.14366,877.427437,348.150910,0.092563,0.299090,1225.97,2103.49,1574.42,m1+m2,1225.97
45,46,[y7 - H2O] (1+) @ 618.99 & [b7-NH3] (1+) @ 673.79,y7,H2O,-,1+,618.99,b7,NH3,-,...,689.32451,619.294635,673.305211,-0.304635,0.484789,1292.78,1911.77,1966.57,m1+m2,1292.78
46,47,[y8-NH3] (1+) @ 790.42 & [b5-NH3] (1+) @ 445.39,y8,NH3,-,1+,790.42,b5,NH3,-,...,462.18629,790.395411,446.166991,0.024589,-0.776991,1235.81,2026.23,1681.20,m1+m2,1235.81
47,48,y3 (1+) @ 318.85 & b11 (1+) @ 1008.58,y3,NaN,NaN,1+,318.85,b11,NaN,NaN,...,1007.45730,319.172410,1008.464550,-0.322410,0.115450,1327.43,1646.28,2336.01,m1+m2,1327.43
48,49,[y9 - CH3-NH2 – NH3] (1+) @ 816.74 & [b4-NH3] ...,y9,CH3-NH2-NH3,-,1+,816.74,b4,NH3,-,...,375.15426,816.374672,359.134961,0.365328,0.135039,1176.01,1992.75,1535.28,m1+m2,1176.01
49,50,[y10 - HN=C=N-CH3] @ 895.4 & [bi(2-4) – H2O – ...,y10,HN=C=N-CH3,-,NaN,895.40,bi(2-4),H2O-NH3,-,...,318.13280,895.438002,284.102936,-0.038002,0.537064,1180.04,2075.44,1464.68,m1+2m2,1464.68

NameError: name 'pfint' is not defined