In [21]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv('data/data_table/data_sheet1.csv')
df = df.rename(columns={'Unnamed: 0': 'ranking'})
df = df[df.columns[:25]]

In [40]:
df.columns

Index(['ranking', 'each_original_data', 'ion1', 'loss1', 'loss_sign1',
       'charge1', 'mass1', 'ion2', 'loss2', 'loss_sign2', 'charge2', 'mass2',
       'addition_mass1', 'addition_mass2', 'ion_mass1', 'ion_mass2',
       'correct_mass1', 'correct_mass2', 'mass_difference1',
       'mass_difference2', 'm1+m2', '2m1+m2', 'm1+2m2', 'chosen_sum_from',
       'chosen_sum'],
      dtype='object')

In [94]:
def create_mass_conserve_line(row):
    ion1,ion2 = row['ion1'], row['ion2']
    loss1,loss2 = row['loss1'], row['loss2']
    if pd.isna(loss1):
        loss1 = ''
    if pd.isna(loss2):
        loss2 = ''
        
        
    #print((type(ion1) == str) and (ion1[0] == 'a' and ion1[:2] != 'ai'))
    #print((type(ion2) == str) and (ion2[0] == 'a' and ion2[:2] != 'ai')and (loss1 == '' and loss2 == ''))
    if (type(ion1) == str) and (ion1[0] == 'a' and ion1[:2] != 'ai') and (loss1 == '' and loss2 == ''):
        combined_loss = 'a'
    elif (type(ion2) == str) and (ion2[0] == 'a' and ion2[:2] != 'ai') and (loss1 == '' and loss2 == ''):
        combined_loss = 'a'
        
    elif loss1 != '' and loss2 != '':
        combined_loss = loss1 + ' + ' +loss2

    else:
        combined_loss = loss1 + loss2
    if combined_loss == '':
        combined_loss = 'Parent'
    return combined_loss

In [98]:
df['conserve_line'] = df.apply(create_mass_conserve_line, axis=1)

In [143]:
def peptie_arrange(length):
    result = []
    for i in range(1, length):
        result.append(f'b{i}y{length - i}')
    return result

In [144]:
rows = ['Parent','NH3','H2O', 'NH3 + H2O','H2O + NH3', 'a']
columns = peptie_arrange(14)
columns

['b1y13',
 'b2y12',
 'b3y11',
 'b4y10',
 'b5y9',
 'b6y8',
 'b7y7',
 'b8y6',
 'b9y5',
 'b10y4',
 'b11y3',
 'b12y2',
 'b13y1']

In [145]:
reuslt_df = pd.DataFrame(index=rows, columns=columns)

In [ ]:
for index, each_row in df.iterrows():
    the_column = -1
    if (type(each_row['ion1']) == str and type(each_row['ion2']) == str):
        the_column = [each_row['ion1'], each_row['ion2']]
        the_column.sort()
        the_column = the_column[0] + the_column[1]
        the_column = the_column.replace('a', 'b')
    if (each_row['conserve_line'] in reuslt_df.index) and (the_column in reuslt_df.columns):
        print(each_row['conserve_line'])
        reuslt_df.at[each_row['conserve_line'], the_column] = each_row['ion1'] + each_row['ion2'] + '\n' +
        each_row['chosen_sum_from'] + 
reuslt_df = reuslt_df.fillna('--')

Parent
Parent
Parent
NH3
NH3
NH3
NH3
NH3
a
NH3
H2O + NH3
Parent

In [162]:
reuslt_df

,b1y13,b2y12,b3y11,b4y10,b5y9,b6y8,b7y7,b8y6,b9y5,b10y4,b11y3,b12y2,b13y1
Parent,--,--,--,--,--,--,y7b7\n,y6b8\n,y5b9\n,--,y3b11\n,--,--
NH3,--,--,--,--,--,--,b7y7\n,y6b8\n,y5b9\n,y4b10\n,y3b11\n,--,--
H2O,--,--,--,--,--,--,--,--,--,--,--,--,--
NH3 + H2O,--,--,--,--,--,--,--,--,--,--,--,--,--
H2O + NH3,--,--,--,--,--,--,y7b7\n,--,--,--,--,--,--
a,--,--,--,--,--,--,--,y6a8\n,--,--,--,--,--

In [163]:
df.columns

Index(['ranking', 'each_original_data', 'ion1', 'loss1', 'loss_sign1',
       'charge1', 'mass1', 'ion2', 'loss2', 'loss_sign2', 'charge2', 'mass2',
       'addition_mass1', 'addition_mass2', 'ion_mass1', 'ion_mass2',
       'correct_mass1', 'correct_mass2', 'mass_difference1',
       'mass_difference2', 'm1+m2', '2m1+m2', 'm1+2m2', 'chosen_sum_from',
       'chosen_sum', 'conserve_line'],
      dtype='object')

In [ ]:
df_addition = pd.read_csv('data/data_table/data_sheet1.csv')
df_addition.columns

Index(['Unnamed: 0', 'each_original_data', 'ion1', 'loss1', 'loss_sign1',
       'charge1', 'mass1', 'ion2', 'loss2', 'loss_sign2', 'charge2', 'mass2',
       'addition_mass1', 'addition_mass2', 'ion_mass1', 'ion_mass2',
       'correct_mass1', 'correct_mass2', 'mass_difference1',
       'mass_difference2', 'm1+m2', '2m1+m2', 'm1+2m2', 'chosen_sum_from',
       'chosen_sum', 'Cluster ID eps_0.1', 'Cluster ID eps_0.2',
       'Cluster ID eps_0.3', 'Cluster ID eps_0.4', 'Cluster ID eps_0.5',
       'Cluster ID eps_0.6', 'Cluster ID eps_0.7', 'Cluster ID eps_0.8',
       'Cluster ID eps_0.9', 'Cluster ID eps_1.0'],
      dtype='object')